@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>SIGNET Maritime</h1>
    <p class="lead">Lorem ipsum dolor sit amet, id eu fames et sapien, montes amet nulla in adipiscing cupidatat. Fugiat dolor sodales, nec est ridiculus nunc, integer varius nunc quam elementum, sagittis hac, erat libero suspendisse. Vestibulum ut id fermentum adipiscing hendrerit volutpat, in proin nunc sem quis vel libero, risus justo, accumsan massa pharetra laborum, a nunc. Mattis ut ridiculus ante pede imperdiet massa, tellus neque, platea arcu orci, magna suspendisse urna, lacinia suscipit mauris ad. Et integer, eleifend consequat lacus donec quisque bibendum.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>SIGNET SSR Database</h2>
        <p>
            View the database here.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Blah blah blah</h2>
        <p>Test text here.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>