@model IEnumerable<SignetSSRProject.Models.MaterialsExpense>

@Scripts.Render("~/bundles/materials")

@{
    ViewBag.Title = "Material Expenses";
}

<h2>Material Expenses</h2>

<div id="jsGrid">
</div>

