@model IEnumerable<SignetSSRProject.Models.MaterialsExpense>

@Scripts.Render("~/bundles/materials")

@{
    ViewBag.Title = "Material Expenses";
}

<style type="text/css">
    #jsGrid {
        font-size: 12px;
    }
</style>

<h2>Material Expenses</h2>

<div id="jsGrid">
</div>

